@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	outline: none;
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	list-style: none;
	text-decoration: none;
}

/*HEADER*/
header{
	width: 100%;
	position: fixed;
	background-color: #fff;
	z-index: 2;
	border-bottom: 1px solid #ebebeb;
}
.menu--Openner{
	cursor: pointer;
	display: none;
}
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:20px 90px;
}
.header--left--logo{
	cursor: pointer;
}
.header--right nav ul{
	display: flex;
}
.header--right nav ul li{
	padding:30px 0px;
	text-transform: uppercase;
	font-size: 0.75rem;
}
.header--right nav ul li:hover{
	background-color: #1b1b1b;
}
.header--right nav ul li:hover a{
	color: #beac5a;
}
.header--right nav ul li a{
	padding: 0 15px;
	border-right: 1px solid #bcbec0;
	color: #1b1b1b;
	font-weight: 700;
}
.header--right nav ul li:last-child a{
	border-right: 0;
}
/*END OF HEADER*/

/*SLIDER*/

	.slider{
		overflow:hidden;
	}
	.slider--width{
		transition: all ease-in 1s;
		display: flex;
	}
	.slider--item{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100vh;
	}
	.slider--item--h2 h2{
		width: 100vw;
		text-align: center;
		color: #1b1b1b;
	}
	.translationX{
		transition: all ease-in 1s;
		animation-name: translateX;
		animation-duration: 1s;
		animation-delay: 1s;
	}
	.translationY{
		transition: all ease-in 1s;
		animation-name: translateY;
		animation-duration: 0.4s;
	}
	.slider--item--h2 h2 span{
		font-size: 2.2rem;
	}
	.slider--item--h1 h1{
		width: 100vw;
		text-align: center;
		margin-top: 50px;
		margin-bottom: 20px;
		font-size: 6rem;
		color: #1b1b1b;
		font-weight: 400;
	}
	.slider--item--bar{
		width: 130px;
		height: 5px;
		background-color: #191919;
		margin-bottom: 20px;
	}
	@keyframes translateX{
		0%{
			transform: translateX(450px);
		},
		50%{
				transform: translateX(300px);
			},
		100%{
			transform: translateX(0px);
		}
	}
	@keyframes translateY{
		0%{
			transform: translateY(400px);
		},
		50%{
				transform: translateX(300px);
			},
		100%{
			transform: translateX(0px);
		}
	}
/*END OF SLIDER*/

/*BOOKING*/
	.booking{
		display: flex;
	}
	.booking--left{
		display: flex;
		flex-direction: column;
		background-color: #1b1b1b;
		padding-left: 100px;
		width: 500px;
	}
	.joinner{
		display: flex;
	}
	.booking--left--title{
		font-size: 2rem;
		font-weight: 700;
		color: #fff;
		padding:25px 0;
		border-bottom: 1px solid #b82025;
	}
	.booking--left--text{
		margin-top: 25px;
		color: #fff;
		font-size: 1.5rem;
		margin-bottom: 5px;
	}
	.booking--right{
		flex:1;
		background-color: #a38a41;
		padding:45px 100px 10px 20px;
	}
	.booking--right--top{
		display: flex;
	}
	.booking--right--top--item{
		display: flex;
		flex-direction: column;
		color: #fff;
	}
	.booking--right--top--item input{
		padding:6px 0 6px 20px;
	}
	.booking--right--top--item select{
		padding:9px 0 9px 20px;
		color: #a38a41;
	}
	.booking--right--bottom{
		display: flex;
		align-items: flex-end;
		margin-top: 5px;
		color: #fff;
	}
	.booking--right--bottom--item input{
		padding:6px 10px 6px 20px;
	}
	.booking--right--bottom--item input.submit{
		color: #fff;
		background-color: #1b1b1b;
		font-size: 0.9rem;
		font-weight: 700;
		padding:8px 20px 8px 20px;
		cursor: pointer;
	}
/*END OF BOOKING*/
/*EXECUTIVE HOTEL SAMBA*/
	.executive--hotel--samba h1{
		margin-top: 100px;
		margin-bottom: 45px;
		font-size: 2rem;
		color: #1b1b1b;
		text-align: center;
	}
	.bar2{
		margin:auto;
		background-color: #a38a41;
		margin-bottom: 50px;
		width: 80px;
	}
	.executive--hotel--samba-inner{
		display: flex;
		justify-content: center;
		padding:0 100px 100px 100px;
	}
	.executive--hotel--samba-inner--item{
		margin-right: 50px;
		flex:1;
	}
	.executive--hotel--samba-inner--item:last-child{
		margin-right: 0;
	}
	.executive--hotel--samba-inner--item--title h2{
		text-align: center;
		margin-bottom: 25px;
		color: #b82025;
		font-size: 1.1rem;
	}
	.executive--hotel--samba-inner--item--text p{
		text-align: center;
		color: #1b1b1b;
		font-size: 0.9rem;
	}
	.btn--show{
		text-align: center;
		color: #b82025;
		cursor: pointer;
	}
	.another--section{
		display: flex;
		border-top: 5px solid #b82025;
	}
	.another--section--left{
		background-color: #1b1b1b;
		padding:100px 20px 90px 90px;
	}
	.another--section--left img{
		cursor: pointer;
	}
	.another--section--right{
		background-color: #9a813e;
	}
	.another--section--left--title{
		padding-bottom: 25px;
		border-bottom: 1px solid #b82025;
		color: #fff;
		font-size: 2.2rem;
		font-weight: 700;
		margin-bottom: 30px;
	}
	.another--section--left--text{
		color: #fff;
		text-align: center;
		font-size: 0.9rem;
	}
	.another--section--left--texts{
		margin-right: 30px;
		width: 400px;
	}
	.another--section--left--item{
		display: flex;
	}
	.another--section--left--item{
		margin-bottom: 35px;
	}
	.another--section--right{
		width: 100%;
		padding:100px 130px 100px 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.another--section--right--item--top{
		font-size: 0.9rem;
		color: #1b1b1b;
		margin-bottom: 30px;
	}
	.another--section--right--item--top span{
		font-size: 1.8rem;
	}
	.another--section--right--item--middle{
		color: #1b1b1b;
		font-size: 0.9rem;
		line-height: 25px;
		margin-bottom: 20px;
	}
	.another--section--right--item--bottom{
		color: #fff;
		font-size: 0.9rem;
		padding-left: 40px;
	}
	.another--section--right--item--bottom ul li{
		list-style: circle;
	}
	.another--section--right--item{
		margin-bottom: 110px;
	}
	.another--section--right--item:last-child{
		margin-bottom: 0;
	}
/*END OF EXECUTIVE HOTEL SAMBA*/

/*GALLERY*/
.gallery{
	padding:90px;
	background-color: #f1f1f1;
}
	.gallery--title{
		margin-bottom: 35px;
	}
	.gallery--title h1{
		text-align: center;
		font-weight: 400;
		font-size: 2.5rem;
		color: #1b1b1b;
	}
	.gallery--container{
		display: grid;
		grid-template-columns: repeat(3,1fr);
		gap:20px;
	}
	.gallery--container--item{
		transition: all ease-in 0.4s;
		cursor: pointer;
	}
	#item1{
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 2;
	}
	#item2{
		background-image: url(../images/image3.jpg);
		background-position: center;
		background-size: cover;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;

	}
	.item4{
		background-image: url(../images/image3.jpg);
		background-position: center;
		background-size: cover;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 350px;
		margin-top: 20px;
	}
	.gallery--container--item--inner{
		background-image: url(../images/image3.jpg);
		background-position: center;
		background-size: cover;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 50%;
		margin-bottom: 20px;
		transition: all ease-in 0.4s;
	}
	.gallery--container--item--inner:last-child{
		margin-bottom: 0;
	}
	.gallery--container--item:first-child:hover, .gallery--container--item:nth-child(3):hover{
		opacity: 1;
	}
	.gallery--container--item--inner:hover{
		opacity: 0.6;
	}
	.gallery--container--item--inner:hover h1{
		display: block!important;
	}
	.gallery--container--item h1{
		color: #97864a;
		font-weight: 400;
		font-size: 2rem;
		display: none;
	}
	.gallery--container--item:hover{
		opacity: 0.6;
	}
	.gallery--container--item:hover h1{
		display: block;
	}
	.gallery--container--item:nth-child(3):hover h1{
		display: none;
	}
/*END OF GALLERY*/

/*TESTEMUNHO*/
	.testemunho{
		overflow: hidden;
		background-color: #a08d4e;
	}
	.testemunho--slider--width{
		display: flex;
		transition: all ease-in-out 0.4s;
	}
	.testemunho--slider--width--item p{
		width: 100vw;
		font-size: 0.8rem;
		text-align: center;
		color: #fff;
	}
	.testemunho--slider--width--item{
		padding-bottom: 200px;
	}
	.testemunho--title h1{
		color: #fff;
		text-align: center;
		font-size: 2rem;
		padding-top: 85px;
		padding-bottom: 50px;
	}
/*END OF TESTEMUNHO*/

/*FOOTER*/
.footer--top{
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #1b1b1b;
}
	.footer--top--title{
		text-align: center;
		margin-bottom: 35px;
		font-size: 1.5rem;
		color: #fff;
	}
	.footer--top--title span{
		font-weight: 700;
	}
	.footer--top--item{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.footer--top--item--inner{
		margin-bottom: 10px;
		color: #888888;
		font-size: 0.9rem;
		text-align: center;
	}
	.footer--top--item--inner a{
		color: #888888;
	}
	.footer--top--item--inner a:hover{
		color: #fff;
	}
	.footer--top--item--inner:last-child{
		margin-bottom: 0;
	}
	.footer--bottom{
		text-align: center;
		color: #888888;
		background-color: #272727;
		padding-top: 20px;
		padding-bottom: 20px;
		font-size: 0.9rem;
	}
/*END OF FOOTER*/

/*TABLET*/
	@media(min-width: 768px) and (max-width: 1023px){
		.menu--Openner{
			display: block;
		}
		.menu--Openner i{
			font-size: 40px;
		}
		.header--right nav ul{
			background-color: #1b1b1b;
			position: fixed;
			top: 0;
			left: -40vw;
			width: 40vw;
			height: 100vh;
			flex-direction: column;
			padding-top: 80px;
			transition: all ease-in 0.4s;
		}
		.showMenu{
			left: 0!important;
		}
		
		.header--right nav ul li{
			text-align: center;
		}
		.header--right nav ul li a{
			color: #fff;
			border:0;
		}
		.slider--item--h2 h2 span{
		font-size: 1.9rem;
	}
	.slider--item--h1 h1{
		font-size: 3rem;
	}
		.booking{
			flex-direction: column;
		}
		.booking--left{
			padding-bottom: 35px;
			width: 100%;
		}
		.executive--hotel--samba-inner {
	    padding: 0 50px 0px 50px;
		}
		.executive--hotel--samba-inner--item--text p {
			    font-size: 0.8rem;
				}
		.another--section--left img {
    		display: none;
			}
			.another--section--left--text {
		    font-size: 1rem;
			}
			.another--section--left {
			    padding: 30px;
			}
			.another--section--right {
		    padding: 50px 15px;
		}
		.another--section--right--item--top {
		    font-size: 0.8rem;
		    margin-bottom: 15px;
		}
		.another--section--right--item--top span {
   				 font-size: 1.5rem;
		}
		.booking--right--bottom{
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
		.joinner{
			margin-bottom: 20px;
		}
		.executive--hotel--samba-inner--item--title h2 {
   			margin-top: 40px;
		}
		.gallery{
			padding-top: 50px;
		}
		.gallery--container {
		    grid-template-columns: repeat(1,1fr);
			}
			.gallery--container--item--inner {
			    height: 350px;
			}
			.gallery--container--item h1{
				display: block;
			}
			#item2 {
		  	 height: 350px;
			}
			#item1 {
		  	 margin:auto;
			}
		.bar2 {
		    margin-bottom: 0px;
		}
		.testemunho{
			padding-left: 5px;
			padding-right: 5px;
		}
		.testemunho--slider--width--item p {
		    font-size: 0.6rem;
		}
		.testemunho--slider--width--item {
		    padding-bottom: 50px;
		}
		
	}
/*END OF TABLET*/

/*MOBILE VERSIONv- 425px*/
@media(min-width: 425px) and (max-width: 767px){
		.menu--Openner{
			display: block;
		}
		.menu--Openner i{
			font-size: 40px;
		}
		.header--left--logo img{
		    width: 80px;
		}
		.header{
			padding:20px 40px;
		}
		.header--right nav ul{
			background-color: #1b1b1b;
			position: fixed;
			top: 0;
			left: -40vw;
			width: 40vw;
			height: 100vh;
			flex-direction: column;
			padding-top: 80px;
			transition: all ease-in 0.4s;
		}
		.showMenu{
			left: 0!important;
		}
		
		.header--right nav ul li{
			text-align: center;
		}
		.header--right nav ul li a{
			color: #fff;
			border:0;
		}
		.slider--item--h2 h2 span{
		font-size: 1.4rem;
	}
	.slider--item--h1 h1{
		font-size: 2.4rem;
	}
		.booking{
			flex-direction: column;
		}
		.booking--left{
			padding-bottom: 35px;
			width: 100%;
		}
		.executive--hotel--samba-inner {
			flex-direction: column;
			align-items: center;
	    padding: 0px;
		}
		.executive--hotel--samba h1 {
		    margin-top: 50px;
		    margin-bottom: 40px;
		    font-size: 1.4rem;
		    color: #1b1b1b;
		    text-align: center;
		}
		.executive--hotel--samba-inner--item {
		    margin-right: 0;
		    padding-bottom: 20px;
		    border-bottom: 1px solid #eeeeee;
		}
		.executive--hotel--samba-inner--item:last-child{
			border-bottom:0;
		}
		.executive--hotel--samba-inner--item--text p {
			    font-size: 0.8rem;
			    padding-left: 15px;
			    padding-right: 20px;
				}
		.another--section--left img {
    		display: none;
			}
			.another--section--left--text {
		    font-size: 0.8rem;
			}
			.another--section--left {
			    padding: 20px 15px;
			    width: 60%;
			}
			.another--section--left--title {
		    font-size: 1.7rem;
		    font-weight: 400;
		}
			.another--section--right {
		    padding: 50px 15px;
		}
		.another--section--right--item--top {
		    font-size: 0.8rem;
		    margin-bottom: 15px;
		}
		.another--section--right--item--top span {
   				 font-size: 1.5rem;
		}
		.booking--right--bottom{
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
		
		.booking--right {
		    padding: 40px 15px 10px 15px;
		}
		.booking--right--bottom--item{
			width: 100%;
		}
		.booking--right--bottom--item input {
		    width: 140%;
		}
		.submit{
			width: 100%!important;
		}
		.booking--right--top{
			flex-direction: column;
		}
		.joinner{
			flex-direction: column;
			margin-bottom: 20px;
		}
		.executive--hotel--samba-inner--item--title h2 {
   			margin-top: 40px;
		}
		.gallery{
			padding: 20px;
		}
		.gallery--container {
		    grid-template-columns: repeat(1,1fr);
			}
			.gallery--container--item--inner {
			    height: 350px;
			}
			.gallery--container--item h1{
				display: block;
			}
			#item2 {
		  	 height: 350px;
			}
			#item1 {
		  	 margin:auto;
			}
		.bar2 {
		    margin-bottom: 0px;
		}
		.testemunho{
			padding-left: 5px;
			padding-right: 5px;
		}
		.testemunho--slider--width--item p {
		    font-size: 0.6rem;
		}
		.testemunho--slider--width--item {
		    padding-bottom: 50px;
		}
		.footer--top--title {
		    margin-bottom: 30px;
		    font-size: 1.3rem;
		}
		.footer--top--item{
			margin-top: 20px;
		}
	}
/*END OF MOBILE VERSION*/

/*MOBILE 375px*/
@media(min-width: 375px) and (max-width: 424px){
		.menu--Openner{
			display: block;
		}
		
		.menu--Openner i{
			font-size: 40px;
		}
		.header--left--logo img{
		    width: 70px;
		}
		.header{
			padding:20px 35px;
		}
		.header--right nav ul{
			background-color: #1b1b1b;
			position: fixed;
			top: 0;
			left: -40vw;
			width: 40vw;
			height: 100vh;
			flex-direction: column;
			padding-top: 80px;
			transition: all ease-in 0.4s;
		}
		.showMenu{
			left: 0!important;
		}
		
		.header--right nav ul li{
			text-align: center;
		}
		.header--right nav ul li a{
			color: #fff;
			border:0;
		}
		.slider--item--h2 h2 span{
		font-size: 0.9rem;
	}
	.slider--item--h1 h1{
		font-size: 2rem;
	}
		.booking{
			flex-direction: column;
		}
		.booking--left{
			padding-bottom: 35px;
			width: 100%;
		}
		.executive--hotel--samba-inner {
			flex-direction: column;
			align-items: center;
	    padding: 0px;
		}
		.executive--hotel--samba h1 {
		    margin-top: 50px;
		    margin-bottom: 40px;
		    font-size: 1.4rem;
		    color: #1b1b1b;
		    text-align: center;
		}
		.executive--hotel--samba-inner--item {
		    margin-right: 0;
		    padding-bottom: 20px;
		    border-bottom: 1px solid #eeeeee;
		}
		.executive--hotel--samba-inner--item:last-child{
			border-bottom:0;
		}
		.executive--hotel--samba-inner--item--text p {
			    font-size: 0.8rem;
			    padding-left: 15px;
			    padding-right: 20px;
				}
		.another--section--left img {
    		display: none;
			}
			.another--section--left--text {
		    font-size: 0.8rem;
			}
			.another--section--left {
			    padding: 20px 15px;
			    width: 60%;
			}
			.another--section--left--title {
		    font-size: 1.7rem;
		    font-weight: 400;
		}
			.another--section--right {
		    padding: 50px 15px;
		}
		.another--section--right--item--top {
		    font-size: 0.8rem;
		    margin-bottom: 15px;
		}
		.another--section--right--item--top span {
   				 font-size: 1.5rem;
		}
		.booking--right--bottom{
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
		
		.booking--right {
		    padding: 40px 15px 10px 15px;
		}
		.booking--right--bottom--item{
			width: 100%;
		}
		.booking--right--bottom--item input {
		    width: 123%;
		}
		.submit{
			width: 100%!important;
		}
		.booking--right--top{
			flex-direction: column;
		}
		.booking--right--top--item input {
			display: inline-block;
		    all: unset;
		    background-color: #fff;
		    width: 100%;
		    height: 5px;
		}
		
		.joinner{
			flex-direction: column;
			margin-bottom: 20px;
		}
		.executive--hotel--samba-inner--item--title h2 {
   			margin-top: 40px;
		}
		.gallery{
			padding: 20px;
		}
		.gallery--container {
		    grid-template-columns: repeat(1,1fr);
			}
			.gallery--container--item--inner {
			    height: 250px;
			    width: 95%;
			}
			.gallery--container--item h1{
				display: block;
			}
			#item2 {
				width: 95%;
		  	 height: 250px;
			}
			#item1 {
		  	 margin:auto;
			}
			#item1 iframe{
				width: 95%;
			}
			.item4{
				height: 250px;
				width: 95%;
			}
		.bar2 {
		    margin-bottom: 0px;
		}
		.testemunho{
			padding-left: 5px;
			padding-right: 5px;
		}
		.testemunho--slider--width--item p {
		    font-size: 0.6rem;
		}
		.testemunho--slider--width--item {
		    padding-bottom: 50px;
		}
		.footer--top--title {
		    margin-bottom: 30px;
		    font-size: 1.3rem;
		}
		.footer--top--item{
			margin-top: 20px;
		}
	}
/*END OF MIBIEL VERSION*/

/*MOBILE -320px*/
/*MOBILE 375px*/
@media(max-width: 374px){
		.menu--Openner{
			display: block;
			position: absolute;
			top: 30%;
			right: 5%;
		}
		.menu--Openner i{
			font-size: 40px;
		}
		.header--left--logo img{
		    width: 60px;
		}
		.header{
			padding:20px 30px;
		}
		.header--right nav ul{
			background-color: #1b1b1b;
			position: fixed;
			top: 0;
			left: -40vw;
			width: 40vw;
			height: 100vh;
			flex-direction: column;
			padding-top: 80px;
			transition: all ease-in 0.4s;
		}
		.showMenu{
			left: 0!important;
		}
		
		.header--right nav ul li{
			text-align: center;
		}
		.header--right nav ul li a{
			color: #fff;
			border:0;
		}
		.slider--item--h2 h2 span{
		font-size: 1.2rem;
	}
	.slider--item--h1 h1{
		font-size: 2.2rem;
	}
		.booking{
			flex-direction: column;
		}
		.booking--left{
			padding-bottom: 35px;
			width: 100%;
		}
		.executive--hotel--samba-inner {
			flex-direction: column;
			align-items: center;
	    padding: 0px;
		}
		.executive--hotel--samba h1 {
		    margin-top: 50px;
		    margin-bottom: 40px;
		    font-size: 1.4rem;
		    color: #1b1b1b;
		    text-align: center;
		}
		.executive--hotel--samba-inner--item {
		    margin-right: 0;
		    padding-bottom: 20px;
		    border-bottom: 1px solid #eeeeee;
		}
		.executive--hotel--samba-inner--item:last-child{
			border-bottom:0;
		}
		.executive--hotel--samba-inner--item--text p {
			    font-size: 0.8rem;
			    padding-left: 15px;
			    padding-right: 20px;
				}
		.another--section--left img {
    		display: none;
			}
			.another--section--left--text {
		    font-size: 0.7rem;
			}
			.another--section--left {
			    padding: 20px 8px;
			    width: 55%;
			}
			.another--section--left--title {
		    font-size: 1.4rem;
		    font-weight: 400;
		}
			.another--section--right {
		    padding: 50px 15px;
		}
		.another--section--right--item--top {
		    font-size: 0.8rem;
		    margin-bottom: 15px;
		}
		.another--section--right--item--top span {
   				 font-size: 1.5rem;
		}
		.booking--right--bottom{
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
		
		.booking--right {
		    padding: 40px 15px 10px 15px;
		}
		.booking--right--bottom--item{
			width: 100%;
		}
		.booking--right--bottom--item input {
		    width: 104%;
		}
		.submit{
			width: 100%!important;
		}
		.booking--right--top{
			flex-direction: column;
		}
		.joinner{
			flex-direction: column;
			margin-bottom: 20px;
		}
		.executive--hotel--samba-inner--item--title h2 {
   			margin-top: 40px;
		}
		.gallery{
			padding: 20px;
		}
		.gallery--container {
		    grid-template-columns: repeat(1,1fr);
			}
			.gallery--container--item--inner {
			    height: 250px;
			    width: 95%;
			}
			.gallery--container--item h1{
				display: block;
			}
			#item2 {
				width: 95%;
		  	 height: 250px;
			}
			#item1 {
		  	 margin:auto;
			}
			.gallery--container--item iframe{
				width: 100%;
			}
			.item4{
				height: 250px;
				width: 95%;
			}
		.bar2 {
		    margin-bottom: 0px;
		}
		.testemunho{
			padding-left: 5px;
			padding-right: 5px;
		}
		.testemunho--slider--width--item p {
		    font-size: 0.6rem;
		}
		.testemunho--slider--width--item {
		    padding-bottom: 50px;
		}
		.footer--top--title {
		    margin-bottom: 30px;
		    font-size: 1.3rem;
		}
		.footer--top--item{
			margin-top: 20px;
		}
	}
/*END OF MOBILE*/